<div class="Card_template">
    <div class="main_card">
    <div class="card">
      <div class="img_text_container">
    
        <div class="text_heading">
          <h2>TestoPrime</h2>
        </div>
    
        <div class="img_container"><img loading="lazy" width="800" height="800" src="https://cdn.shopify.com/s/files/1/1633/7705/files/testoprime_7dbf19de-08ac-49e3-b569-7138920af61d_480x480.jpg?v=1683827963" alt="testoprime testosterone booster"></div>
    
    
        <div class="text_heading">
            <h3><a href="https://www.setforset.com/blogs/news/testoprime-review" target="_blank" title="TestoPrime Review" rel="noopener noreferrer">Read full review</a></h3>
        </div>
    </div>
      <div class="rating_text_start">
        <div class="rating_star---1 ratting---java-1" data-ratting="3.7">
    <span class="content----1">Overall Rating: <span class="ratting---1 ratting----java--1">3.7</span><span class="full_rating">/5</span> </span>
    <div class="stars">
    <span class="fa fa-star checked---1 java-1" style="background-size: 100%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-2" style="background-size: 100%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-3" style="background-size: 77%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-4" style="background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-5" style="background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span>
    </div>
    </div>
    </div>

      <div class="list_container">
    <ul>
    <li>
    <span class="check_code"><i class="fa fa-check"></i></span> <span>Clinically dosed ingredients</span>
    </li>
    <li>
    <span class="check_code"><i class="fa fa-check"></i></span> <span>Can help increase muscle strength</span>
    </li>
    <li>
    <span class="check_code"><i class="fa fa-check"></i></span> <span>Accelerates muscle growth and fat reduction</span>
    </li>
    </ul>
    </div>
      <div class="btn_button"><a href="https://www.wb22trk.com/3LH2L94/363TCP/?source_id=testoprime%20vs%20prime%20male" target="_blank" title="TestoPrime" rel="noopener noreferrer"><button>Check Price</button></a></div>
    </div>
    <div class="card">
      <div class="img_text_container">
       <div class="text_heading">
        <h2>Prime Male</h2>
       </div>
       <div class="img_container"><img loading="lazy" width="800" height="800" src="https://cdn.shopify.com/s/files/1/1633/7705/files/prime_male_98e17a72-0917-431e-ba7f-c6cd1fa54f15_480x480.jpg?v=1683827997" alt="prime male testosterone booster"></div>
       <div class="text_heading">
          <h3><a href="https://www.setforset.com/blogs/news/prime-male-reviews" target="_blank" title="Prime Male Review" rel="noopener noreferrer">Read full review</a></h3>
       </div>  
    </div>
      <div class="rating_text_start">
        <div class="rating_star---1 ratting---java-1" data-ratting="4.7">
        <span class="content----1">Overall Rating: <span class="ratting---1 ratting----java--1">4.7</span><span class="full_rating">/5</span> </span>
        <div class="stars">
        <span class="fa fa-star checked---1 java-1" style="background-size: 100%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-2" style="background-size: 100%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-3" style="background-size: 100%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-4" style="background-size: 100%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span> <span class="fa fa-star checked---1 java-5" style="background-size: 97%; background-image: linear-gradient(90deg, #d4a017, #d4a017);"></span>
        </div>
        </div>
    </div>
      <div class="list_container">
        <ul>
        <li>
        <span class="check_code"><i class="fa fa-check"></i></span> <span>Increases cognitive function</span>
        </li>
        <li>
        <span class="check_code"><i class="fa fa-check"></i></span> <span>Can increase cardiovascular health for better performance and recovery</span>
        </li>
        <li>
        <span class="check_code"><i class="fa fa-check"></i></span> <span>Restores libido and enhances sexual performance</span>
        </li>
        </ul>
      </div>
      <div class="btn_button"><a href="https://www.primemale.com?a_aid=63087b9b41f1b&a_cid=34e42e11" target="_blank" title="Prime Male" rel="noopener noreferrer"><button>Check Price</button></a></div>
    </div>
</div>
</div>