.page-blog .global-wrapper *{box-sizing:border-box;}
@font-face{font-family:iconnit;
  src:url(iconnit.eot?eorg54);
  src:url(iconnit.eot?eorg54#iefix) format('embedded-opentype'),
    url(iconnit.woff2?eorg54) format('woff2'),
    url(iconnit.ttf?eorg54) format('truetype'),
    url(iconnit.woff?eorg54) format('woff'),
    url(iconnit.svg?eorg54#iconnit) format('svg');
  font-weight:400;font-style:normal;font-display: swap;}
[class*=" iconnit-"],[class^=iconnit-]{font-family:iconnit!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.iconnit-oui-close-circle-fill:before{content:"\e917"}.iconnit-oui-arrow-left:before{content:"\e912"}.iconnit-oui-arrow-right:before{content:"\e913"}.iconnit-oui-arrow-down:before{content:"\e90d"}.iconnit-account-small:before{content:"\e914"}.iconnit-cart-small:before{content:"\e915"}.iconnit-search-small:before{content:"\e916"}.iconnit-userlike:before{content:"\e910"}.iconnit-search-thicker:before{content:"\e90f"}.iconnit-drop2:before{content:"\e635"}.iconnit-external-link:before{content:"\e61c"}.iconnit-chevron-down-thicker:before{content:"\e911"}.iconnit-clip:before{content:"\e90e"}.iconnit-slick-dot:before{content:"\2022"}.iconnit-facebook:before{content:"\e956"}.iconnit-google-plus:before{content:"\e91a"}.iconnit-instagram:before{content:"\e959"}.iconnit-pinterest:before{content:"\e91b"}.iconnit-twitch:before{content:"\e958"}.iconnit-twitter:before{content:"\e90c"}.iconnit-youtube:before{content:"\e918"}.iconnit-chevron-right-circle-ko:before{content:"\e90a"}.iconnit-user2:before{content:"\e909"}.iconnit-ribbon:before{content:"\e903"}.iconnit-onnit-rewards:before{content:"\e902"}.iconnit-play-circle-fill:before{content:"\e908"}.iconnit-chevron-down-circle-ko:before{content:"\e907"}.iconnit-info-circle:before{content:"\e906"}.iconnit-keep-it:before{content:"\e905"}.iconnit-play-simple:before{content:"\e904"}.iconnit-medical:before{content:"\e900"}.iconnit-home6:before{content:"\e605"}.iconnit-pencil4:before{content:"\e612"}.iconnit-cloud-download:before{content:"\e64c"}.iconnit-shield:before{content:"\e667"}.iconnit-lock:before{content:"\e66b"}.iconnit-hammer-wrench:before{content:"\e676"}.iconnit-trash2:before{content:"\e681"}.iconnit-at-sign:before{content:"\e695"}.iconnit-envelope:before{content:"\e696"}.iconnit-envelope-open:before{content:"\e697"}.iconnit-floppy-disk:before{content:"\e6ae"}.iconnit-shredder:before{content:"\e6b2"}.iconnit-copy:before{content:"\e6b8"}.iconnit-folder:before{content:"\e6ba"}.iconnit-folder-upload:before{content:"\e6bf"}.iconnit-enter:before{content:"\e6d2"}.iconnit-exit:before{content:"\e6d3"}.iconnit-medal-empty:before{content:"\e6dd"}.iconnit-trophy:before{content:"\e6e3"}.iconnit-book:before{content:"\e714"}.iconnit-library:before{content:"\e718"}.iconnit-profile:before{content:"\e71b"}.iconnit-portrait:before{content:"\e71c"}.iconnit-user:before{content:"\e71e"}.iconnit-bag:before{content:"\e74c"}.iconnit-cart:before{content:"\e74d"}.iconnit-cart-full:before{content:"\e74f"}.iconnit-cart-plus:before{content:"\e750"}.iconnit-tag:before{content:"\e755"}.iconnit-telephone:before{content:"\e76a"}.iconnit-map-marker:before{content:"\e77a"}.iconnit-location:before{content:"\e783"}.iconnit-calendar-empty:before{content:"\e785"}.iconnit-bubble:before{content:"\e7d6"}.iconnit-left-quote:before{content:"\e7e5"}.iconnit-right-quote:before{content:"\e7e6"}.iconnit-graph:before{content:"\e7fa"}.iconnit-gift:before{content:"\e7ff"}.iconnit-leaf:before{content:"\e82a"}.iconnit-speed-slow:before{content:"\e834"}.iconnit-truck:before{content:"\e857"}.iconnit-earth:before{content:"\e884"}.iconnit-mic:before{content:"\e8cb"}.iconnit-sync:before{content:"\e8da"}.iconnit-search:before{content:"\e922"}.iconnit-cross:before{content:"\d7"}.iconnit-menu:before{content:"\e92b"}.iconnit-list3:before{content:"\e92e"}.iconnit-check:before{content:"\e61e"}.iconnit-plus:before{content:"\e936"}.iconnit-minus:before{content:"\e937"}.iconnit-chevron-up:before{content:"\e939"}.iconnit-chevron-down:before{content:"\e93a"}.iconnit-chevron-left:before{content:"\e93b"}.iconnit-chevron-right:before{content:"\e93c"}.iconnit-question-circle:before{content:"\e957"}.iconnit-plus-circle:before{content:"\e95b"}.iconnit-chevron-up-circle:before{content:"\e962"}.iconnit-chevron-down-circle:before{content:"\e963"}.iconnit-chevron-left-circle:before{content:"\e964"}.iconnit-chevron-right-circle:before{content:"\e965"}.iconnit-check-square:before{content:"\e999"}.iconnit-help-with-circle:before{content:"\e91d"}.iconnit-dots-three-horizontal:before{content:"\e901"}.iconnit-grid:before{content:"\e642"}.iconnit-play:before{content:"\e90b"}

/*************blog**************/
#shopify-section-feature-blog-widget{padding-top:0px !important}
#shopify-section-template--15336734654662__main .has-sidebar-option{flex: 0 0 64%;}
#shopify-section-template--15336734654662__main .sidebar{flex: 0 0 32%;}
.page-blog .author-details{margin:0;}
.testimonial-section{    padding-top: 3rem; padding-bottom: 3rem;}
.testimonial-container{display: flex;align-items: center;}
.testimonial-sec1{    width: 17.66666667%;  text-align: center;}
.testimonial-sec1 .title.center {
    text-transform: none;
    font-weight: 600;line-height: 1;
    color: #171717;    letter-spacing: -.01em;
}
 .testimonial-sec1 .action_button{background-color: #171717; font-size:12px; line-height:1.225; padding: .625rem 1.2rem; display:inline;}
.testimonial-info{padding:0 10px;}
.testimonial-sec2 {
    width: 82.33333333%;padding: 0 2rem;  border-left: 1px solid #e6e6e6;

}
.testimonial-block__text p{    margin-bottom: 5px;}
.page-blog  .author-name{     margin: 0;   color: #171717;}
.testimonial-sec2 .testimonial-block{padding:0;}
.page-blog .rounded-img {
    width: 69.66666667%;
    margin: 0 auto;
    position: relative;
}
.testimonial .container{padding:10px 0;} 
.page-blog .rounded-img:before {
    padding-bottom: 100%;
    content: "";
    display: block;
}
.page-blog .rounded-img img {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.testimonial-block__text, .testimonial-block__text p{color: #171717;
    letter-spacing: -.01em;    font-weight: 500;
    line-height: 1.3; font-size:14px;}
.page-blog .global-wrapper {
    max-width: 105rem;
    margin: 0 auto;
    border: 0 solid #e6e6e6;
}
.homepage_content.container {
    padding-top: 3rem;
}
.homepage_content.container .article.article {padding-left:3px;padding-right:3px;}
.page-blog .global-wrapper .section { max-width: 90rem; width: 100%;} 
.page-blog .global-wrapper .section .container{padding: .625rem .5rem;}
.shopify-section--blog-posts .article img{margin:0;}
.page-blog .blog-inner {
    border: 1px solid #e6e6e6;    display: flex;
    flex-direction: column;    position: relative;
}
.first_blog_post .artcle-img{position: absolute;
    display: block;
    padding-bottom: 0;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;}
.page-blog .artcle-img img{position:absolute; top:0; bottom:0; left:0; right:0; width:100%; height:100%; object-fit:cover;}
.page-blog .artcle-img {
    position: relative; display:block;padding-bottom: 100%;
}
.page-blog .first_blog_post  .artcle-img{padding-bottom:78%;}
.page-blog .blog-inner h5.sub_title a {
    color: #171717;
    text-transform: none;    line-height: 1;display: inherit;
    font-weight: 700;
    letter-spacing: -.05em;
    font-size: 24px;
}
.page-blog .blog-inner:before {
/*   content: "";
  display: block;    
  padding-bottom: 67.333333%; */
}
.flex-column {
    flex-direction: column;
}

.flex {
    display: flex;
}
.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}
.page-blog .blog-inner-details{padding: 1.5rem; display: flex;flex-direction: column;}
.height-100 {
    height: 100%;
}
.absolute {
/*   position: absolute; */
}
.pos-0-all {
/*   top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}
.page-blog .author-details span{    font-weight: 500; color: #7a7a7a;letter-spacing: .155625em;    text-transform: uppercase;    font-size: 12px;}
.page-blog .author-details span:after{content:none;}
.page-blog span.iconnit.iconnit-user2{font-size: 14px;  margin: 0;}
.page-blog .include-featured-blog .article{padding:0 3px;}
.page-blog .container1.main.main-wrapper{max-width: 90rem;
    padding: 0.4125rem;}
.page-blog .article img{margin-bottom:0;}
.page-blog-post .article{padding:0 3px;} 
.page-blog .homepage_content  .title,
.page-blog-post h3.title {
    padding: .8125rem 0;    text-align: left;
    margin-bottom: 10px;
}
.page-blog .homepage_content .title a,
.page-blog .page-blog-post h3.title a {
    font-size: 36px;
    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 900;
    color: #171717;
}
.gray-lighten-2 {
    color: #c7c7c7;
}
.ml1 {
}
.p2-1\/2 {
    padding: 1.5rem;
}
.right-1-1\/1 {
    right: 3px;
}
.right-1-1\/2 {
    right: .8125rem;
}
.bottom-1-1\/2 {
    bottom: .8125rem;
}
.bottom-1-1\/1 {
    bottom: 0;
}
.left-1-1\/2 {
    left: .8125rem;
}
.left-1-1\/1 {
    left: 3px;
}
.z1 {
    z-index: 1;
}
.page-blog .article-post{position:relative;}
.page-blog .article-post .blog-inner1{    position: absolute;    background: linear-gradient(to bottom, #0000 0%, #000c 70%);}
.page-blog .container.page-blog-post.featured-blocks {
    margin: 0;
    padding-bottom: 10px;
}
.page-blog .homepage_content.container{    padding-bottom: 0;}
.page-blog  .blog-post-details h4 a{color: #fff;font-size: 28px;    display: inherit;    font-weight: 600;line-height: 1;letter-spacing: -.01em;    text-transform: none;}
.blog-post-details h4{    margin: 0;}
.blog-post-details .author-details span{color: #fff;}
.page-blog .article.columns.article.first_blog_post{    width:calc(50% - 20px);}
.first_blog_post {position:relative;}
.first_blog_post .blog-inner{ border: 0;   position: absolute;    padding: 1.5rem;    right: 3px;    bottom: 30px;    left: 3px; color: #fff;   background: linear-gradient(to bottom, #0000 0%, #000c 70%);height: auto !important;
    z-index: 1;}
.first_blog_post .blog-inner:before{padding-bottom:0;}
.first_blog_post .absolute.pos-0-all.height-100.col-12{height: auto;
    position: static;
    border: 0;
    color: #fff;}
.first_blog_post .blog-inner-details.flex.flex-column.height-100 {
    height: auto;
    padding: 0;
}
.page-blog .article-banner{    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 66.66666667%;
    display: block;}
.page-blog .article-banner img{    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;}
.page-blog .first_blog_post h5.sub_title a,
.page-blog .first_blog_post .author-details span,
.page-blog .first_blog_post h5.sub_title{color:#fff;}
.page-blog .blog-inner-details .sub_title{    margin: 0 0 5px;}
.page-blog .article.first_featured {    padding: 0;
    width: 100%;
}
.page-blog  .first_featured.article img{    height: 100%; object-fit: cover;}
.page-blog .wrap_first_blog .article.first_featured > a{    position: absolute;top: 0;
    right: 0;
    bottom: 0;
    left: 0;}
.page-blog .blog-first .article{display:inline-block;float: left; width: 100%;margin: 0; padding: 0 0 1.5rem;}
.page-blog .blog-first .article:not(.first_featured ) > a{    width: 33.33%;
    display: inline-block;
    float: left;
    padding: 0 .625rem;}
.page-blog .blog-first .article:not(.first_featured ) h4{display: inline-block;
    width:100%;
    float: left;
    padding: 0;
    margin: 0;}
.page-blog .blog_meta-first h4 a:hover{text-decoration:underline;}
.page-blog .blog-first .article.artical_blog_all{display: flex; align-items:center;}
.page.featured-blocks{width:100%;display: flex; flex-wrap: wrap;} 
.page-blog .blog-first{padding: 55px 0;}
.blog-first.container.main.content.main-wrapper{padding: 65px 0 0;background: #171717;}
.blog-first .featured-blocks,
.blog-first .featured-blocks .first_featured {margin:0;}
.first_featured  .blog_meta-first{position:absolute; bottom:0; left:0; right:0;    background: linear-gradient(to bottom, #0000 0%, #000c 70%);    padding: 2rem;}
.first_featured {
    position: relative;
}
.first_featured  .author-details span{color: #fff;}
.blog_meta-first h4{margin:0;}
.first_featured  .blog_meta-first h4 a{    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.01em;
    text-transform: none;}
.blog_meta-first h4 a{letter-spacing: 0;
    text-transform: none;
    line-height: 1.3;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    font-size: 15px;}
.wrap_all_blog .blog_meta-first{padding: .625rem;width: 66.66666667%;}
.wrap_all_blog {
    width: 33.33333333%;
    display: flex;
    flex-wrap: wrap;padding: 1.5rem 1.5rem  .5rem;
    flex-direction: column;
}
.wrap_first_blog {
    display: flex;
    width: 66.66666667%;
}


@media only screen and (min-width: 1200px) {
.page-blog.article .main-wrapper>.twelve.columns {
    max-width: calc(100% - 440px)!important;
}
  
  
}
.sidebar_content .toggle_list a{display:block;}
body.article .global-wrapper *{box-sizing:border-box;}
.sidebar_content div.newsletter .input-row{margin: 0;}

#shopify-section-article-template div.sidebar {
  width: 34%; margin:0;}
.sidebar_content {
    text-align: center;
    padding: 0 25px;
}
.sidebar_content .newsletter .input-row{display: block;}
.sidebar_content .newsletter input{margin: 0 0 15px;    width: 100%;}
.sidebar_content .newsletter input.action_button.sign_up{font-size: 15px; margin:0;}



@media (min-width: 740px){
.md-fz8 {
    font-size: 32px;
}
  
}


@media (max-width:1024px){
  .page-blog .first_blog_post .artcle-img{padding-bottom: 77%;
    bottom: auto;
    top: auto;}
.page-blog  .rounded-img {
    width: 90%;}
 .page-blog .blog-inner-details  h5.sub_title a{ font-size:16px;   display: inherit}
 .page-blog .blog-inner-details { padding: 1rem;}
 .page-blog .testimonial-sec1{padding: 0 10px;}
 .page-blog .testimonial-sec1 .action_button{padding: .57rem 1.2rem;    line-height: 1;}
.page-blog.testimonial-info {
    padding: 0 5px;
}
  
}


@media (max-width:999px){
  ul.header__secondary-navigation{    padding-left: 10px;}
  #header a span, .nav a, .nav a.cart-button span, .nav a:active, .nav a:visited{letter-spacing:0;}
.page-blog  .article.columns.article.first_blog_post {
    width: calc(100% - 20px);
}
 .page-blog .blog-inner:before{padding-bottom: 66.66666667%;}
    .page-blog-section  .one-fourth {  width: calc(33.333% - 20px);}
 .page-blog .first_blog_post .artcle-img{    padding-bottom: 66.66666667%;position: relative;}
 .page-blog .wrap_all_blog{padding: .5rem .5rem .5rem;}
  .page-blog .blog-first .article{    padding: 0 0 .5rem}
 .page-blog .blog_meta-first h4 a{font-size: 13px;}
 .page-blog .blog-inner-details .sub_title{    padding: 0;}
}


@media (max-width:798px){
 .page-blog .blog-first.container.main.content.main-wrapper { padding: 0;}
  .page-blog .global-wrapper{    margin-top: 40px;}
 .page-blog  .include-featured-blog .medium-down--one-whole,
 .page-blog .page-blog-post  .medium-down--one-whole {width: calc(50% - 20px);}

  .page-blog .include-featured-blog .article{padding-bottom:30px;}
 .page-blog .testimonial-sec1{padding-bottom:30px;    width: 100%;}
 .page-blog .testimonial-container { display: block;}
 .page-blog .testimonial-sec2{border-left: 0px;    width: 100%;}
 .page-blog .testimonial-sec2 .testimonial-block{width: calc(32.333% - 20px);flex-direction: column;    min-width: inherit;display: inline-block;
    vertical-align: top;margin-bottom: 40px;
  }
 .page-blog .testimonial-sec2 .container{display: inline-block; width: 100%;max-width: 100%;text-align: center;}
  .rounded-img {width: 100%;}
  
 .page-blog  .include-featured-blog .article {width: 100%;}

}

@media (max-width:767px){
   #banner-1506372385331 .parallax__container .parallax {
    height: 380px !important;
}
   #banner-1602076158242 .parallax__container .parallax {
    height: 330px !important;
}
  #banner-1506383092429 .parallax__container .parallax {
    height: 350px !important;
}
  #banner-1506441849116 .parallax__container .parallax {
    height: 300px !important;
}
   #banner-1506441326385 .parallax__container .parallax {
    height: 350px !important;
}
  .shopify-section--featured-promotions .featured-promotions__item {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.shopify-section--featured-promotions .image-element__wrap {
    margin: 0 20%;
}
 .featured-promotions .featured-promotions__image{
    max-width: 100%;
}
.featured-promotions__link  h2.featured-promotions__title{font-size: 22px;}
 .shopify-section--blog-posts  div.container{justify-content: center;}
  .shopify-section--blog-posts .one-third.article{max-width:300px; width:100%;}
 .page-blog .blog-first .featured-blocks, .blog-first .featured-blocks .first_featured{display: block;}
 .page-blog .wrap_all_blog,
 .page-blog .wrap_first_blog{width: 100%;}
 .page-blog  .wrap_first_blog .article.first_featured > a {
    position: static;}
 .page-blog .first_featured .blog_meta-first h4 a {
    font-size: 28px;}
 .page-blog .first_featured .blog_meta-first{padding: 1rem;}
 .page-blog  .blog-first .article {
    padding: 0 0 1.3rem;
}
  
  .page-blog .wrap_first_blog .article.first_featured > a {
    position: static;
    display: inline-block;
    width: 100%;
    padding: 0 0 66.66666667%;
}

 .page-blog  .wrap_first_blog .article.first_featured > a img{position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;}
 .page-blog .wrap_all_blog {
    padding: 1.5rem 1.5rem .5rem;
}
.page-blog  .page-blog-section .one-fourth {
    width: calc(50% - 20px);
}
.page-blog  .page-blog-post .medium-down--one-whole {
    width: 100%;
    margin-bottom: 30px;
}
.page-blog  .page-blog-post div.medium-down--one-whole:last-child{margin-bottom:0;}
 .page-blog .testimonial-container .testimonial-sec2{    padding: 0;}
  
}

@media(max-width:479px) {
  .shopify-section--featured-promotions .featured-promotions__item {
    max-width: 300px;}
 .page-blog  .testimonial-sec2 .testimonial-block {
    width: calc(49.333% - 20px);}
 .page-blog  .blog-inner-details h5.sub_title a{font-size:15px; font-weight:600}
  .page-blog .global-wrapper .blog-inner > div{position:static}
    .page-blog .global-wrapper .blog-inner:before{padding-bottom:0}
  .page-blog .global-wrapper .blog-inner .blog-inner-details {padding:1rem .5rem}
  .page-blog .global-wrapper .blog-inner .blog-inner-details .blog_meta span {margin-right:0; letter-spacing:normal}
}

.page-blog .container1.main.main-wrapper{margin:auto}
.page-blog .logo .image-element__wrap {
    padding:5px 0;
}
@media(max-width:798px)  {
 .page-blog .author-details{line-height: 1.3;}
  body.page-blog.article #shopify-section-article-template .sidebar--article {
  display:none
}
  body.article.page-blog #shopify-section-article-template .has-sidebar-option {width:100%}
 .page-blog .logo .image-element__wrap {padding: 0;}
}

@media(min-width:799px) {
body.article.page-blog  #shopify-section-article-template .has-sidebar-option{width: calc(100% - 34%) !important}
}


/************* Blog Post Css *************/
.page-blog .include-featured-blog .article {
  padding: 0!important;
  margin-bottom: 20px;
}
.shopify-section--product-template.has-sidebar-option .product_section{margin-bottom:50px;}
.shopify-section--product-template .description .column.alpha, .shopify-section--product-template .description .columns.alpha {
    margin-left: -10px !important;
}
@media (max-width: 768px) {
  .shopify-section--product-template .description .column.alpha, .shopify-section--product-template .description .columns.alpha {
      margin-left: 0px !important;
  }
}
.shopify-section--product-template .description .column.omega, .shopify-section--product-template .description .columns.omega {
    margin-right: 0 !important;
}
.shopify-section--product-template .description .one-third.column{width: 33.333%;
    margin: 0;
    float: left;
    padding: 0 0 0 10px;
    box-sizing: border-box;}

.shopify-section--product-template .description .six.columns.offset-by-two.alpha{display: inline-block; left: 0;    margin-bottom: 30px; padding-left: 150px;}
.shopify-section--product-template .description .six.columns.omega.animate_right {display: inline-block;}
.shopify-section--header .header{padding: 5px 0;}

@media (max-width:768px){
  .shopify-section--product-template .description .six.columns.offset-by-two.alpha{padding: 0 0px !important; margin: 0 auto !important; float: none !important; display: block; right: 0; max-width: 320px; width: 100%;}
  .shopify-section--product-template .description .one-third.column{  padding: 0;  width: 100%;}
  .shopify-section--product-template .description .six.columns.omega.center.animate_right{    width: 100%;}
}
@media(min-width:1025px) {
  .parallax__container .parallax{background-position:50% 3.75566vh!important}
}
.container.banner__text{width:100%; }

@media (min-width: 769px) {
 .article.feature_image  #shopify-section-article-template .has-sidebar-option {
    width: 65%;
  }
}

/* Start of Mediavine CSS */
.adunitlabel {
box-sizing: border-box;
}
@media only screen and (max-width: 359px) {
    #shopify-section-article-template section {
        width: 100% !important;
  }
    .article #content_wrapper .content-wrapper .has-sidebar-option > div:first-of-type > div:nth-of-type(2) table {
    width: 300px !important;
    max-width: 300px !important;
    overflow-x: scroll !important;
}
.article #content_wrapper .content-wrapper .has-sidebar-option > div:first-of-type > div:nth-of-type(2) table td {
    padding: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
}
#sidebar_btf_placeholder {
    margin-top: 30px !important;
}
/* End of Mediavine CSS */

/* Mediavine mobile fix CSS */
@media only screen and (max-width: 425px) {
table {
display: block;
}
}
@media only screen and (max-width: 399px) {
.sidebar {
margin-left: unset !important;
margin-right: unset !important;
}
}
@media only screen and (max-width: 359px) {
.article #content_wrapper .content-wrapper .has-sidebar-option > div:first-of-type > div:nth-of-type(2) {
min-width: 100%;
margin-left: unset;
margin-right: unset;
padding-left: 2px;
padding-right: 2px;
}
}
/* End Mediavine mobile fix CSS */

/* HTML Product Snipet CSS Start*/


.sfs_product_card{
    width: 95%;
    padding: 10px 5px;
    clear: both;
    position: relative;
    margin: 15px auto;
    border-radius: 0;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;

}

.sfs-col-3{
    flex: 0 0 33.333334%;
    max-width: 33.333334%;
}

.sfs-col-9{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.sfs_card_img img{
    width: 100%;
    height: auto;
}

.sfs_card_title span{
    width: 100%;
    font-size: 20px;
    border-bottom: 4px solid #d4a017;
    color: #000;
    font-weight: 600;
    display: inline;
    padding: 0 0 3px 0;

}

.sfs_card_title{
    margin-block: 10px;
    padding: 5px 10px;
    box-sizing: border-box!important;
}

.sfs_card_description{
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 15px;
}

div.sfs_card_btn{
    max-width: 100%;
    text-align: left;
    padding: 10px 10px 5px;
}

.sfs_card_btn .sfs-btn {
    width: 70%;
    vertical-align: middle;
    padding: 13px 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #00000063, 1px 1px 10px #00000052;
    border-radius: 0;
    font-size: 15px;
    border: 1px solid rgba(212, 160, 23, 0.66);
    color: #fff!important;
    background: #d4a017;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none!important;
}


.sfs_card_link{
    text-decoration: none;
    color: black;
}

.sfs_card_link:hover{
    color: #d4a017 !important;
}

.sfs_tag{
    background: #d4a017;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    margin-inline: 10px;
}


@media (max-width: 768px) {

    .sfs-col-3{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

    .sfs-col-9{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }

    .sfs_card_img img{
        width: 90%;
        height: auto;
        margin: auto;
        display: block;
    }
}



/* HTML Product Snipet CSS End*/

/* HTML Table Snipet CSS Start*/

        .sfs_table_wrapper table {
            width: 900px;
            display: table;
            font-family: 'Cairo', sans-serif;
            margin: auto;
            text-indent: initial;
            box-sizing: border-box;
            border: 1px solid #F4F4F4;
            overflow: hidden;
        }

        .sfs_table_wrapper caption {
            font-weight: bold;
            text-align: left;
            font-size: 1.7rem;
            font-family: raleway, sans-serif;
        }

        .sfs_table_wrapper thead tr {
            background: #F4F4F4;
            color: #000;
            padding: 20px;
        }

        .sfs_table_wrapper tr .column-1 {
            padding: 20px;
        }

        .sfs_table_wrapper .sfs_table_row {
            border: 2px solid #F4F4F4;
        }

        .sfs_table_wrapper .sfs_table_row .column-1 {
            font-size: 17px;
            font-weight: 600;
            border-right: 1px dotted #F4F4F4;
            border-bottom: 2px solid #dad8d8;
            vertical-align: top;
            padding: 5px;
            width: 160px;
        }

        .sfs_table_wrapper .sfs_table_row .column-2 {
            vertical-align: top;
            border-right: 1px dotted #F4F4F4;
            border-bottom: 2px solid #dad8d8;
        }

        .sfs_table_wrapper .sfs_table_row .column-2 img {
            border: 5px solid #DDDDDD;
            margin-top: 0;
            width: 150px;
        }

        .sfs_table_wrapper .sfs_table_row .column-3 {
            border-right: 1px dotted #F4F4F4;
            border-bottom: 2px solid #dad8d8;
            vertical-align: top;
            padding: 10px;
            width: 140px;
        }

        .sfs_table_wrapper .sfs_table_row .column-3 .shortc-button {
            background: #D4A017;
            padding: 5px 10px;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

        .sfs_table_wrapper .sfs_table_row .column-4 {
            border-right: 1px dotted #F4F4F4;
            border-bottom: 2px solid #dad8d8;
            vertical-align: top;
            padding: 10px 5px;
        }

        .sfs_table_wrapper .sfs_table_row .column-5 {
            vertical-align: top;
            text-align: start;
            border-right: 1px dotted #F4F4F4;
            border-bottom: 2px solid #dad8d8;
        }

        .sfs_table_wrapper .sfs_table_row .column-5 ul {
            margin-top: 0;
        }

        .sfs_table_wrapper .sfs_table_row .column-5 ul li {
            list-style: none;
            line-height: 26px;
            text-align: start;
        }

        .sfs_table_wrapper .sfs_table_row .column-5 ul li:before {
            content: "\f00c";
            color: #7fb718;
            margin-right: 6px;
            margin-left: -34px;
            display: inline-block;
            font: 14px/1 FontAwesome;
            font-size: 18px;
            font-weight: bold;
            list-style: none;
        }

        @media (max-width: 768px) {
            .sfs_table_wrapper table {
                max-width: 900px;
            }

            .sfs_table_wrapper {
                max-width: 100%;
                overflow-x: auto;
            }
          
            /* Scrollbar width */
            .sfs_table_wrapper::-webkit-scrollbar {
              height: 12px;
              background-color: #F5F5F5;
            }

            /* Scrollbar Scrollbar Scrollbar Track */
            .sfs_table_wrapper::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
              border-radius: 10px;
              background-color: #F5F5F5;
            }

            /* Scrollbar Scrollbar Handle */
            .sfs_table_wrapper::-webkit-scrollbar-thumb {
              border-radius: 10px;
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
              background-color: #555;
            }

        }
/* HTML Table Snipet CSS End*/

/* HTML 2nd product snippet CSS start*/

.sfs2_container{
    padding: 0 20px;

}
.sfs_product_card_2{
    width: 95%;
    padding: 50px 25px;
    clear: both;
    position: relative;
    margin: 15px auto;
    border-radius: 0;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;

}
.sfs2_container button{
    position: absolute;
    width: auto;
    height: auto;
    background: #000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    top: -6px;
    left: -5px;
    box-shadow: -2px 3px 3px 1px #a3a3a3;
}


.sfs2-col-4{
    flex: 0 0 33.333334%;
    max-width: 33.333334%;
  	margin-top: 40px;
}

.sfs2-col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.sfs2_card_img img{
    width: 100%;
    height: auto;
}

.sfs2_card_title span{
    width: 100%;
    font-size: 24px;
    border-bottom: 4px solid #d4a017;
    color: #000;
    font-weight: 600;
    display: inline;
    padding: 0 0 3px 0;
  	line-height: 2em;

}

.sfs2_card_title{
    margin-block: 10px;
    padding: 5px 10px;
    box-sizing: border-box!important;
}

.sfs2_card_description{
    margin: 10px 0 0 10px;
    padding: 10px;
    font-size: 16px;
    line-height: 28px;
}

div.sfs2_card_btn{
    max-width: 100%;
    text-align: left;
    padding: 10px 10px 5px;
}

.sfs2_card_btn .sfs2-btn {
    width: 40%;
    vertical-align: middle;
    padding: 20px 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #00000063, 1px 1px 10px #00000052;
    border-radius: 0;
    font-size: 15px;
    border: 1px solid rgba(212, 160, 23, 0.66);
    color: #fff!important;
    background: #d4a017;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none!important;
}


.sfs2_card_link{
    text-decoration: none;
    color: black;
}

.sfs2_card_link:hover{
    color: #d4a017 !important;
}

.sfs_tag{
    background: #d4a017;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    margin-inline: 10px;
}


@media (max-width: 768px) {

    .sfs2-col-4{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

    .sfs2-col-8{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }

    .sfs2_card_img img{
        width: 90%;
        height: auto;
        margin: auto;
        display: block;
    }
  	.sfs2_card_btn .sfs2-btn {
        width: auto;
        padding: 20px 30px;
	}
}

/* HTML 2nd product snippet CSS end*/


/* HTML 1st product snippet CSS start*/

.sfs1_product_card{
    width: 95%;
    padding: 10px 5px;
    clear: both;
    position: relative;
    margin: 15px auto;
    border-radius: 0;
    box-shadow: 0 2px 15px 1px rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;

}


.sfs1-col-3{
    flex: 0 0 33.333334%;
    max-width: 33.333334%;
}

.sfs1-col-9{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.sfs1_card_img img{
    width: 100%;
    height: auto;
}

.sfs1_card_title span{
    width: 100%;
    font-size: 24px;
    border-bottom: 4px solid #d4a017;
    color: #000;
    font-weight: 600;
    display: inline;
    padding: 0 0 3px 0;

}

.sfs1_card_title{
    margin-block: 10px;
    padding: 5px 10px;
    box-sizing: border-box!important;
}

.sfs1_card_description{
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 28px;
}

div.sfs1_card_btn{
    max-width: 100%;
    text-align: left;
    padding: 10px 10px 5px;
}

.sfs1_card_btn .sfs1-btn {
    width: 40%;
    vertical-align: middle;
    padding: 20px 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #00000063, 1px 1px 10px #00000052;
    border-radius: 0;
    font-size: 15px;
    border: 1px solid rgba(212, 160, 23, 0.66);
    color: #fff!important;
    background: #d4a017;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    text-decoration: none!important;
}


.sfs1_card_link{
    text-decoration: none;
    color: black;
}

.sfs1_card_link:hover{
    color: #d4a017 !important;
}

.sfs1_tag{
    background: #d4a017;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    margin-inline: 10px;
}


@media (max-width: 768px) {

    .sfs1-col-3{
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

    .sfs1-col-9{
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }

    .sfs1_card_img img{
        width: 90%;
        height: auto;
        margin: auto;
        display: block;
    }
}


/* HTML 1st product snippet CSS end*/

/*** Blog Heading Font Sizes ***/

.article h1 {
    font-size: 32px;
}
.article h2 {
    font-size: 22px;
}
.article h3 {
    font-size: 23px;
}

/** Blog Heading Font Sizes Ends **/ 

.excerpt {
    display: none;
}
.jdgm-carousel-item__review-body>p {
    font-size: 12px;
}
