{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

{% render 'product-structured-data' %}

{% section 'product-details-template' %}

<section class="section">
	{% section 'product-recommendations' %}
</section>
